@font-face {
    font-family: IranYekanMedium;
    src: url('webfonts/fonts/ttf/IRANYekanWebMedium.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

body {
    direction: rtl;
    font-family: "IranYekanMedium", Times;
    padding: 0px;
    overflow-x: hidden;
}

ul {
    padding-top: 15px;
}

p,
li {
    text-align: justify;
    line-height: 2.1;
    direction: rtl;
    font-size: 1.25rem;
    padding: 10px;
}

h2,
.specifications {
    padding-bottom: 2%;
    font-size: 2.5rem;
}

img {
    width: 100%;
    height: 100%;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: 0.2s;
}

a:hover {
    color: #61ce70;
}

@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0)
    }

    50% {
        transform: translateX(-25%) translateZ(0)
    }

    100% {
        transform: translateX(-50%) translateZ(0)
    }
}

.waveWrapper {
    height: 750px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: #EFFFF1;
}

.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 1000px;
    bottom: -10%;
}

.bgTop {
    z-index: -10;
    opacity: 0.5;
}

.bgMiddle {
    z-index: -5;
    opacity: 0.75;
}

.bgBottom {
    z-index: -1;
}

.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}

.waveTop {
    background-size: 50% 100px;
}

.waveAnimation .waveTop {
    animation: move-wave 3s;
    -webkit-animation: move-wave 3s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.waveMiddle {
    background-size: 50% 120px;
}

.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}

.waveBottom {
    background-size: 50% 100px;
}

.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}

.main-div {
    position: relative;
    display: grid;
    overflow: hidden;
    grid-template-columns: 100vw;
    grid-template-rows: 650px repeat(6, auto);
    grid-template-areas: "grid-container1""grid-container2""grid-container3""grid-container4""grid-container5""grid-container6""grid-container7";
    padding: 0 10px 0 10px;
    align-items: center;
    justify-content: center;
}

.grid {
    margin-top: 2%;
    position: relative;
    z-index: 50;
}

.grid-container1 {
    position: relative;
    row-gap: 0;
    grid-area: grid-container1;
}

.svg {
    position: absolute;
    z-index: 20;
    width: 100vw;
    height: 100%;
}

.svg * {
    position: absolute;
}

.svg1 {
    transform: scale(0.2, 0.2);
    left: 35%;
    top: 25%;
    opacity: 50%;
    filter: blur(12px);
}

.svg2 {
    transform: scale(0.4, 0.4);
    right: 35%;
    top: -34%;
    opacity: 32%;
    filter: blur(5px);
}

.svg3 {
    right: -50%;
    top: -10%;
    opacity: 35%;
    transform: scale(0.25, 0.25);
    filter: blur(4px);
}

.svg4 {
    opacity: 35%;
    fill: #61ce70;
    left: 3%;
    bottom: 28%;
    filter: blur(4px);
    transform: scale(0.3, 0.3);
}

.svg5 {
    left: -24%;
    top: 25%;
    transform: scale(0.1, 0.1);
    opacity: 40%;
    filter: blur(4px);
}

.svg-i {
    width: 220px;
}

.svg6 {
    left: 75%;
    top: -35%;
}

.svg7 {
    left: -2%;
    top: 20%;
}

.svg8 {
    left: 82%;
    top: 14%;
}

.svg9 {
    left: 25%;
    top: -45%;
}

.svg10 {
    left: 50%;
    top: -10%;
}

.svg11 {
    left: 40%;
    top: 25%;
}

.sub-grid {
    display: grid;
    grid-gap: 0;
    padding: 10px;
    grid-template-rows: 100%;
    grid-template-areas: "item1 item2";
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.grid-item {
    z-index: 100;
    padding: 10px 50px;
}

.grid-item1 {
    grid-area: item1;
    display: block;
    margin: auto;
    padding: 15%;
}

.first-h1 {
    direction: rtl;
    font-size: 4rem;
    color: #61ce70;
}

.first-p {
    display: block;
    margin: auto;
    width: 80%;
    direction: ltr;
    font-size: 1.1875rem;
    color: #61ce70;
    display: block;
    margin-right: auto;
}

.second-p {
    text-align: justify;
    color: black;
    display: block;
    padding: 5px;
}

.grid-item2 {
    grid-area: item2;
    width: 100%;
}

.first-img {
    position: relative;
    max-width: 2000px;
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
    padding: 5px 10px;
    animation: updown 15s cubic-bezier(0.62, 0.02, 0.33, 0.99) infinite;
}

@keyframes updown {
    0% {
        top: -50px;
    }

    50% {
        top: 50px;
    }

    100% {
        top: -50px;
    }
}

.grid-container2 {
    display: grid;
    grid-template-columns: 100vw;
    margin-top: 10%;
    padding: 20px;
    grid-area: grid-container2;
    justify-items: center;
}

.grid-item3 {
    display: block;
    width: 90%;
}

.first-h2 {
    text-align: center;
}

.third-p {
    text-align: center;
    font-size: 1.25rem;
}

.grid-container3 {
    display: flex;
    justify-content: center;
    padding: 10px;
    grid-area: grid-container3;
}

.flex {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(2, auto);
    width: 20vw;
    padding: 10px;
    margin: 10px;
    height: 235px;
    border-bottom: 2px solid #f9d47a;
    transition: 0.5s;
    box-shadow: 0px 0px 12px rgb(236, 236, 236);
}

.flex-div1 {
    display: grid;
    margin: auto;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    border: 2px solid #f9d47a;
    transition: 0.5s;
}

.flex-icon {
    display: block;
    margin: auto;
    transition: 0.5s;
}

.flex-heading {
    font-size: 1.5rem;
    text-align: center;
    color: black;
    margin-bottom: 5px;
    transition: 0.5s;
}

.flex-p {
    display: none;
    text-align: center;
    padding: 10px;
    color: white;
    transition: 0.5s;
}

.flex:hover .flex-p {
    display: block;
}

.flex:hover .flex-heading {
    color: white;
}

.flex:hover .flex-div1 {
    background-color: #f9d47a;
}

.flex:hover {
    background-color: #61ce70;
    height: 350px;
}

.flex:hover path {
    fill: white;
}

.grid-container4 {
    display: grid;
    grid-template-columns: 50% auto;
    grid-area: grid-container4;
}

.grid-item4 {
    margin: auto 0;
    position: relative;
    z-index: 6;
}

.backg-img {
    width: 100%;
    height: 100%;
}

.list {
    list-style: none;
}

.list li::before {
    content: "\2713";
    color: #61ce70;
    font-weight: 900;
    display: inline-block;
    width: 1em;
}

.grid-item5 {
    position: relative;
    display: grid;
    align-items: center;
}

.backg-pic1 {
    width: 140%;
    position: absolute;
    z-index: -1;
    left: -10%;
}

.grid-container5 {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-areas: "grid-item6 grid-item7";
    justify-content: center;
    align-items: center;
    grid-area: grid-container5;
}

.grid-item6 {
    grid-area: grid-item6;
    position: relative;
}

.rectangle {
    position: absolute;
    right: -10%;
    bottom: 10%;
}

.third-img {
    position: relative;
    animation: updown 10s cubic-bezier(0.64, 0, 0.33, 1) infinite;
    display: block;
    margin: auto;
}

.backg-pic2-right {
    width: 100%;
    height: 145%;
    position: absolute;
    z-index: -50;
    right: 0%;
}

.img-div1 {
    position: absolute;
    padding: 5px;
    width: 50%;
    height: 40%;
    left: 5%;
    top: -18%;
}

.pen {
    width: 25%;
    margin: auto;
    display: block;
    margin-bottom: 5%;
}

.ball {
    position: absolute;
    bottom: -160%;
    right: -60%;
    z-index: 1;
    width: 90%;
    height: auto;
    opacity: 40%;
    filter: blur(5px);
}

.img-div2 {
    position: absolute;
    padding: 5px;
    width: 50%;
    height: 40%;
    left: -80%;
    bottom: 70%;
}

.pens {
    position: relative;
    z-index: 1;
    width: 90%;
    height: auto;
    margin-top: -250px;
}

.grid-item7 {
    grid-area: grid-item7;
    position: relative;
}

.backg-pic2-left {
    width: 100%;
    height: 145%;
    position: absolute;
    z-index: -50;
    left: -18%;
    bottom: -189%;
}

.backg-pic3 {
    position: absolute;
    left: -113%;
    bottom: 40%;
}

.fifth-p {
    text-align: justify;
}

.grid-container6 {
    position: relative;
    grid-area: grid-container6;
    padding: 0 5% 2% 5%;
}

.grid-container6-1 {
    display: none;
}

.specifications {
    font-size: 1.5rem;
}

.grid-item8 {
    display: grid;
    grid-template-rows: repeat(7, auto);
    grid-template-columns: 100%;
}

.grid-container {
    display: grid;
    border-bottom: 2px solid rgba(112, 112, 112, 0.2);
    grid-template-columns: repeat(4, 25%);
    padding: 10px;
    padding-top: 20px;
}

.table {
    
    font-size: 1.125rem;
    font-weight: normal;
    color: black;
}

.tb {
    opacity: 50%;
}

.grid-item9 {
    top: 0%;
    position: absolute;
    z-index: -50;
    width: 100vw;
    height: 50%;
}

.ball-pic {
    width: auto;
    height: auto;
    position: absolute;
    z-index: 1;
    opacity: 30%;
    filter: blur(9px);
    left: 70%;
}

.ball-pic3 {
    width: auto;
    height: auto;
    position: absolute;
    z-index: 1;
    opacity: 40%;
    filter: blur(5px);
    left: 6%;
    bottom: -114%;
    transform: rotate(90deg);
}

.grid-container7 {
    position: relative;
    padding: 5px 6% 3% 6%;
    grid-template-areas: grid-container7;
    
}

.faq-h {
    font-size: 2.5rem;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 3%;
}

.faq-p {
    font-size: 1.25rem;
}

.faq-singular {
    position: relative;
    border-bottom: 2px solid rgba(112, 112, 112, 0.2);
    padding: 0 5% 0 5%;
}

.faq-singular:hover,
.faq-singular.active {
    background: #f2f2f2;
    background-image: linear-gradient(270deg, #335548 0%, #335548 8px, transparent 8px, transparent 100%);
}

.faq-singular:hover .faq-question {
    color: #61ce70;
}

.faq-singular .faq-question {
    position: relative;
    cursor: pointer;
    margin: 0;
    padding: 25px 10px 15px 30px;
    font-weight: 700;
    font-size: 1.5rem;
}

.faq-singular .faq-question:before {
    position: absolute;
    content: "+";
    color: #808080;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 28px;
    font-weight: 700;
    transition: all 0.5s;
}

.faq-singular.active .faq-question:before {
    transform: translateY(-50%) rotate(45deg) scale(1.5);
}

.faq-answer {
    display: none;
    padding-bottom: 20px;
}

.grid-item11 {
    position: absolute;
    width: 100vw;
    top: 0;

}

.ball-pic1 {
    position: absolute;
    left: 35%;
    top: 10%;
    width: auto;
    height: auto;
    transform: rotate(60deg);
    opacity: 35%;
    filter: blur(5px);
}

.ball-pic2 {
    position: absolute;
    right: -5%;
    bottom: -200%;
    width: auto;
    height: auto;
    transform: rotate(-30deg);
    opacity: 30%;
    filter: blur(5px);
}

@media screen and (max-width: 1120px) {
    body {
        padding-top: 10%;
    }
     
    h2 {
        font-size: 1.375rem;
    }

    p,
    li {
        text-align: justify;
        font-size: 0.875rem;
    }

    .waveWrapper {
        height: 765px;
    }

    .main-div {
        position: relative;
        z-index: 999;
        display: grid;
        grid-template-columns: 100vw;
        grid-template-areas: "grid-container1""grid-container2""grid-container3""grid-container4""grid-container5""grid-container6-1""grid-container7";
        grid-template-rows: 865px repeat(6, auto);
        align-items: start;
    }

    .grid-container1 {
        margin-top: 0;
    }

    .sub-grid {
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        grid-template-areas: "item1""item2";
    }

    .grid-item2 {
        padding: 20px;
    }

    

    .first-h1 {
        font-size: 2.375rem;
    }

    .first-p {
        display: none;
    }

    .pen {
        width: 15%;
        margin: auto;
        display: block;
        margin-bottom: -5%;
    }

    .pens {
        left: 145%;
        width: 60%;
    }

    .grid-container2 {
        padding: 0;
    }

    .third-p {
        padding: 15px;
        font-size: 0.875rem;
    }

    .grid-container3 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .flex {
        width: 70vw;
        height: 50vw;
    }

    .grid-container4 {
        padding: 15px;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }

    .backg-pic1 {
        width: 140%;
    }

    .backg-pic2-left {
        bottom: -140%;
    }

    .backg-pic3 {
        left: -20%;
        width: 65%;
        top: -38%;
    }

    .backg-img {
        margin-right: 10%;
        width: 95%;
        height: 100%;
    }

    .grid-container5 {
        
        grid-template-rows: repeat (2, auto);
        grid-template-columns: auto;
        grid-template-areas: "grid-item7""grid-item6";
    }

    .third-img {
        margin: 20% auto;
    }

    .grid-container6 {
        display: none;
    }

    .ball-pic {
        left: 60%;
        top: 50%;
    }

    .ball-pic3 {
        bottom: -80%;
    }

    .grid-container6-1 {
        position: relative;
        display: block;
        grid-area: grid-container6-1;
        padding: 10px;
    }

    .grid-item8-1 {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(14, auto);
    }

    .ball-pic1 {
        left: -35%;
    }

    .ball-pic2 {
        right: -33%;
    }

    .grid-container {
        grid-template-columns: repeat(2, 50%);
    }

    .grid {
        margin-top: 1%;
    }

    .faq-singular .faq-question:before {
        left: 0%;
    }
    .table{
        padding: 15px;
    }
    .pens {
       
        margin-top: -70px;
    }
}

@media screen and (max-width: 420px) {
   
    .waveWrapper {
        height: 755px;
    }

    .grid-container2 {
        margin-top: 25%;
    }
    .table{
        padding: 0px;
    }
    .grid-item10{
        padding: 10px 10px;
    }
}

@media screen and (min-width:400px) and (max-width: 600px) {

    p,
    li {
        text-align: justify;
        font-size: 0.875rem;
    }

    .pen {
        margin-bottom: 13%;
    }

    .main-div {
        grid-template-rows: 700px repeat(6, auto);
    }

    .svg1 {
        left: 40%;
        top: 12%;
    }

    .svg5 {
        top: 8%;
        left: -36%;
    }

    .ball-pic3 {
        right: 45%;
        bottom: -13%;
    }
    .table{
        padding: 0;
    }
    .grid-item10{
        padding: 10px 10px;
    }
}

@media screen and (min-width: 600px) and (max-width: 800px) {
    .waveWrapper {
        height: 925px;
    }

    .waveWrapperInner {
        bottom: -8%;
    }
}

@media screen and (min-width: 800px) and (max-width: 1120px) {
    .pens {
       
        margin-top: 200px;
    }
    .waveWrapper {
        height: 1150px;
    }

    .waveWrapperInner {
        bottom: -5%;
    }

    p,
    li {
        text-align: justify;
        font-size: 0.875rem;
    }

    .main-div {
        grid-template-rows: 1025px repeat(6, auto) !important;
    }
}

@media screen and (min-width: 3480px) {
    .waveWrapper {
        height: 1450px;
    }

    .waveWrapperInner {
        bottom: -5%;
    }

    p,
    li {
        font-size: 1.5rem;
        text-align: justify;
    }

    h2 {
        font-size: 3rem;
    }

    .grid-container2 {
        margin-top: 15%;
    }

    .first-h1 {
        font-size: 6rem;
    }

    .first-p {
        font-size: 1.5rem;
    }

    .third-p {
        font-size: 1.5rem;
    }

    .flex {
        width: 20vw;
        height: 15vw;
    }

    .flex:hover {
        height: 550px;
    }

    .flex-heading {
        font-size: 2.5rem;
    }

    .flex-div1 {
        width: 130px;
        height: 130px;
    }

    .flex-icon {
        width: 90%;
        height: 50%;
    }

    .specifications {
        font-size: 2.5rem;
    }

    .table {
        font-size: 1.5rem;
    }

    .faq-h {
        font-size: 3rem;
    }

    .faq-p {
        font-size: 1.5rem;
    }

    .faq-singular .faq-question {
        font-size: 2rem;
    }

    .faq-singular .faq-question:before {
        font-size: 2rem;
    }

    .faq-singular.active .faq-question:before {
        transform: translateY(-50%) rotate(45deg) scale(2);
    }

    .backg-pic2-left {
        left: -10%;
        bottom: -145%;
    }
}

@media screen and (min-width: 5660px) {

    p,
    li {
        font-size: 2.5rem;
        text-align: justify;
    }

    h2 {
        font-size: 4rem;
    }

    .first-h1 {
        font-size: 8rem;
    }

    .first-p {
        font-size: 2.5rem;
    }

    .third-p {
        direction: rtl;
        font-size: 2.5rem;
    }

    .flex {
        width: 20vw;
        height: 15vw;
    }

    .flex:hover {
        height: 550px;
    }

    .flex-heading {
        font-size: 3.5rem;
    }

    .flex-div1 {
        width: 130px;
        height: 130px;
    }

    .flex-icon {
        width: 90%;
        height: 50%;
    }

    .specifications {
        font-size: 3.5rem;
    }

    .table {
        font-size: 2.5rem;
    }

    .faq-h {
        font-size: 4rem;
    }

    .faq-p {
        font-size: 2.5rem;
    }

    .faq-singular .faq-question {
        font-size: 3rem;
    }

    .faq-singular .faq-question:before {
        font-size: 3rem;
    }
}
     .first-button-landing-mother{
         display: grid;
         grid-template-columns: auto auto;
         grid-gap: 10%;
}
.button-landing1 {
    background-color: #61ce70;
    width: 100%;
    height: 30px;
    border-radius: 15px;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    color: white;
}
.button-landing2 {
    background-color: #61ce70;
    width: 100%;
    height: 30px;
    border-radius: 15px;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    color: white;
}


.button-landing1:hover {
    transform: scale(1.1, 1.1);

}
.button-landing2:hover {
    transform: scale(1.1, 1.1);

}



h1 {
    text-align: center;
    margin: 2rem 0;
    font-size: 2.5rem;
  }
  
  .accordion {
    z-index: 1000;
    width: 90%;
    max-width: 1000px;
    margin: 2rem auto;
  }
  .accordion-item {
    background-color: #fff;
    color: #111;
    margin: 1rem 0;
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
  }
  .accordion-item-header {
    padding: 0.5rem 3rem 0.5rem 1rem;
    min-height: 3.5rem;
    line-height: 1.25rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
  }
  .accordion-item-header::after {
    content: "\002B";
    font-size: 2rem;
    position: absolute;
    right: 1rem;
  }
  .accordion-item-header.active::after {
    content: "\2212";
  }
  .accordion-item-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  .accordion-item-body-content {
    padding: 1rem;
    line-height: 1.5rem;
    border-top: 1px solid;
    border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
  }
  
  @media(max-width:767px) {
    html {
      font-size: 14px;
    }
  }


 