@font-face {
    font-family: IRANYekanWebBold;
    src: url('webfonts/fonts/ttf/IRANYekanWebBold.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

body {
    direction: rtl;
    padding: 0px;
    overflow-x: hidden;
	font-family: "IRANYekanWebBold" !important;
}

ul {
    padding-top: 15px;
}

p,
li {
    text-align: justify;
    direction: rtl;
    font-size: 1.25rem;
	margin-bottom: 0 !important;
}

h2,
.specifications {
    padding-bottom: 2%;
    font-size: 2.5rem;
}

.img-nemad-footer {
    width: 100% !important;
    height: 100%;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: 0.2s;
}

a:hover {
    color: #61ce70;
}

@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0)
    }

    50% {
        transform: translateX(-25%) translateZ(0)
    }

    100% {
        transform: translateX(-50%) translateZ(0)
    }
}

.waveWrapper {
    height: 750px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: #EFFFF1;
}

.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 1000px;
    bottom: -10%;
}

.bgTop {
    z-index: -10;
    opacity: 0.5;
}

.bgMiddle {
    z-index: -5;
    opacity: 0.75;
}

.bgBottom {
    z-index: -1;
}

.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}

.waveTop {
    background-size: 50% 100px;
}

.waveAnimation .waveTop {
    animation: move-wave 3s;
    -webkit-animation: move-wave 3s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.waveMiddle {
    background-size: 50% 120px;
}

.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}

.waveBottom {
    background-size: 50% 100px;
}

.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}

.main-div {
    position: relative;
    display: grid;
    overflow: hidden;
    grid-template-columns: 100vw;
    grid-template-rows: 650px repeat(6, auto);
    grid-template-areas: "grid-container1""grid-container2""grid-container3""grid-container4""grid-container5""grid-container6""grid-container7";
    padding: 0 10px 0 10px;
    align-items: center;
    justify-content: center;
}

.grid {
    margin-top: 10%;
    position: relative;
    z-index: 50;
}

.grid-container1 {
    position: relative;
    row-gap: 0;
    grid-area: grid-container1;
}

.svg {
    position: absolute;
    z-index: 20;
    width: 100vw;
    height: 100%;
}

.svg * {
    position: absolute;
}

.svg1 {
    transform: scale(0.2, 0.2);
    left: 35%;
    top: 25%;
    opacity: 50%;
    filter: blur(12px);
}

.svg2 {
    transform: scale(0.4, 0.4);
    right: 35%;
    top: -34%;
    opacity: 32%;
    filter: blur(5px);
}

.svg3 {
    right: -50%;
    top: -10%;
    opacity: 35%;
    transform: scale(0.25, 0.25);
    filter: blur(4px);
}

.svg4 {
    opacity: 35%;
    fill: #61ce70;
    left: 3%;
    bottom: 28%;
    filter: blur(4px);
    transform: scale(0.3, 0.3);
}

.svg5 {
    left: -24%;
    top: 25%;
    transform: scale(0.1, 0.1);
    opacity: 40%;
    filter: blur(4px);
}

.svg-i {
    width: 220px;
}

.svg6 {
    left: 75%;
    top: -35%;
}

.svg7 {
    left: -2%;
    top: 20%;
}

.svg8 {
    left: 82%;
    top: 14%;
}

.svg9 {
    left: 25%;
    top: -45%;
}

.svg10 {
    left: 50%;
    top: -10%;
}

.svg11 {
    left: 40%;
    top: 25%;
}

.sub-grid {
    display: grid;
    grid-gap: 0;
    padding: 10px;
    grid-template-columns: 50% auto;
    align-items: center;
}

.grid-item {
    z-index: 1;
    padding: 50px;
}

.grid-item1 {
    padding: 15%;
    width: 100%;
}

.first-h1 {
    font-size: 4rem;
    color: #61ce70;
    text-align: right;
}

.pars_board ul li {
    display: inline-block;
}

.first-p {
    display: block;
    margin: auto;
    width: 80%;
    direction: ltr;
    font-size: 1.1875rem;
    color: #61ce70;
    display: block;
    margin-right: auto;
}

.second-p {
    text-align: justify;
    color: black;
    display: block;
    padding: 5px;
}

.grid-item2 {
    width: 100%;
}

.first-img {
    position: relative;
    max-width: 2000px;
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
    padding: 5px 10px;
    animation: updown 15s cubic-bezier(0.62, 0.02, 0.33, 0.99) infinite;
}

@keyframes updown {
    0% {
        top: -50px;
    }

    50% {
        top: 50px;
    }

    100% {
        top: -50px;
    }
}

.grid-container2 {
    display: grid;
    grid-template-columns: 100vw;
    margin-top: 10%;
    padding: 20px;
    grid-area: grid-container2;
    justify-items: center;
}

.grid-item3 {
    display: block;
    width: 90%;
}

.first-h2 {
    text-align: center;
}

.third-p {
    text-align: center;
    font-size: 1.25rem;
}

.grid-container3 {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    padding: 10px;
    grid-area: grid-container3;
}

.flex {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(2, auto);
    width: 20vw;
    padding: 10px;
    margin: 10px;
    height: 235px;
    border-bottom: 2px solid #f9d47a;
    transition: 0.5s;
    box-shadow: 0px 0px 12px rgb(236, 236, 236);
}

.flex-div1 {
    display: grid;
    margin: auto;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    border: 2px solid #f9d47a;
    transition: 0.5s;
}

.flex-icon {
    display: block;
    margin: auto;
    transition: 0.5s;
}

.flex-heading {
    font-size: 1.5rem;
    text-align: center;
    color: black;
    margin-bottom: 5px;
    transition: 0.5s;
}

.flex-p {
    display: none;
    text-align: center;
    padding: 10px;
    color: white;
    transition: 0.5s;
}

.flex:hover .flex-p {
    display: block;
}

.flex:hover .flex-heading {
    color: white;
}

.flex:hover .flex-div1 {
    background-color: #f9d47a;
}

.flex:hover {
    background-color: #61ce70;
    height: 350px;
}

.flex:hover path {
    fill: white;
}

.grid-container4 {
    display: grid;
    grid-template-columns: 50% auto;
    grid-area: grid-container4;
}

.grid-item4 {
    margin: auto 0;
    position: relative;
    z-index: 6;
}

.backg-img {
    width: 100%;
    height: 100%;
}

.list {
    list-style: none;
}

.list li::before {
    content: "\2713";
    color: #61ce70;
    font-weight: 900;
    display: inline-block;
    width: 1em;
}

.grid-item5 {
    position: relative;
    display: grid;
    align-items: center;
}

.backg-pic1 {
    width: 140%;
    position: absolute;
    z-index: -1;
    left: -10%;
}

.grid-container5 {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-areas: "grid-item6 grid-item7";
    justify-content: center;
    align-items: center;
    grid-area: grid-container5;
}

.grid-item6 {
    grid-area: grid-item6;
    position: relative;
}

.rectangle {
    position: absolute;
    right: -10%;
    bottom: 10%;
}

.third-img {
    position: relative;
    animation: updown 10s cubic-bezier(0.64, 0, 0.33, 1) infinite;
    display: block;
    margin: auto;
}

.backg-pic2-right {
    width: 100%;
    height: 145%;
    position: absolute;
    z-index: -50;
    right: 0%;
}

.img-div1 {
    position: absolute;
    padding: 5px;
    width: 50%;
    height: 40%;
    left: 5%;
    top: -18%;
}

.pen {
    width: 25%;
    margin: auto;
    display: block;
    margin-bottom: 5%;
}

.ball {
    position: absolute;
    bottom: -160%;
    right: -60%;
    z-index: 1;
    width: 90%;
    height: auto;
    opacity: 40%;
    filter: blur(5px);
}

.img-div2 {
    position: absolute;
    padding: 5px;
    width: 50%;
    height: 40%;
    left: -80%;
    bottom: 70%;
}

.pens {
    position: relative;
    z-index: 1;
    width: 90%;
    height: auto;
}

.grid-item7 {
    grid-area: grid-item7;
    position: relative;
}

.backg-pic2-left {
    width: 100%;
    height: 145%;
    position: absolute;
    z-index: -50;
    left: -18%;
    bottom: -189%;
}

.backg-pic3 {
    position: absolute;
    left: -113%;
    bottom: 40%;
}

.fifth-p {
    text-align: justify;
}

.grid-container6 {
    position: relative;
    grid-area: grid-container6;
    margin-top: 15%;
    padding: 0 5% 2% 5%;
}

.grid-container6-1 {
    display: none;
}

.specifications {
    font-size: 1.5rem;
}

.grid-item8 {
    display: grid;
    grid-template-rows: repeat(7, auto);
    grid-template-columns: 100%;
}

.grid-container {
    display: grid;
    border-bottom: 2px solid rgba(112, 112, 112, 0.2);
    grid-template-columns: repeat(4, 25%);
    padding: 10px;
    padding-top: 20px;
}

.table {
    
    font-size: 1.125rem;
    font-weight: normal;
    color: black;
}

.tb {
    opacity: 50%;
}

.grid-item9 {
    top: 0%;
    position: absolute;
    z-index: -50;
    width: 100vw;
    height: 50%;
}

.ball-pic {
    width: auto;
    height: auto;
    position: absolute;
    z-index: 1;
    opacity: 30%;
    filter: blur(9px);
    left: 70%;
}

.ball-pic3 {
    width: auto;
    height: auto;
    position: absolute;
    z-index: 1;
    opacity: 40%;
    filter: blur(5px);
    left: 6%;
    bottom: -114%;
    transform: rotate(90deg);
}

.grid-container7 {
    position: relative;
    padding: 5px 6% 3% 6%;
    grid-template-areas: grid-container7;
    margin-top: 5%;
}

.faq-h {
    font-size: 2.5rem;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 3%;
}

.faq-p {
    font-size: 1.25rem;
}

.faq-singular {
    position: relative;
    border-bottom: 2px solid rgba(112, 112, 112, 0.2);
    padding: 0 5% 0 5%;
}

.faq-singular:hover,
.faq-singular.active {
    background: #f2f2f2;
    background-image: linear-gradient(270deg, #335548 0%, #335548 8px, transparent 8px, transparent 100%);
}

.faq-singular:hover .faq-question {
    color: #61ce70;
}

.faq-singular .faq-question {
    position: relative;
    cursor: pointer;
    margin: 0;
    padding: 25px 10px 15px 30px;
    font-weight: 700;
    font-size: 1.5rem;
}

.faq-singular .faq-question:before {
    position: absolute;
    content: "+";
    color: #808080;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 28px;
    font-weight: 700;
    transition: all 0.5s;
}

.faq-singular.active .faq-question:before {
    transform: translateY(-50%) rotate(45deg) scale(1.5);
}

.faq-answer {
    display: none;
    padding-bottom: 20px;
}

.grid-item11 {
    position: absolute;
    width: 100vw;
    top: 0;
	z-index: -1;
}

.ball-pic1 {
    position: absolute;
    left: 35%;
    top: 10%;
    width: auto;
    height: auto;
    transform: rotate(60deg);
    opacity: 35%;
    filter: blur(5px);
}

.ball-pic2 {
    position: absolute;
    right: -5%;
    bottom: -200%;
    width: auto;
    height: auto;
    transform: rotate(-30deg);
    opacity: 30%;
    filter: blur(5px);
}

@media screen and (max-width: 1120px) {
    body {
        padding-top: 10%;
    }
     
    h2 {
        font-size: 1.375rem;
    }

    p,
    li {
        text-align: justify;
        font-size: 0.875rem;
    }

    .waveWrapper {
        height: 765px;
    }

    .main-div {
        position: relative;
        z-index: 999;
        display: grid;
        grid-template-columns: 100vw;
        grid-template-areas: "grid-container1""grid-container2""grid-container3""grid-container4""grid-container5""grid-container6-1""grid-container7";
        grid-template-rows: 865px repeat(6, auto);
        align-items: start;
    }

    .grid-container1 {
        margin-top: 0;
    }

    .sub-grid {
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        grid-template-areas: "item1""item2";
    }

    .grid-item2 {
        padding: 20px;
    }

    

    .first-h1 {
        font-size: 2.375rem;
    }

    .first-p {
        display: none;
    }

    .pen {
        width: 15%;
        margin: auto;
        display: block;
        margin-bottom: -5%;
    }

    .pens {
        left: 145%;
        top: 20%;
        width: 60%;
    }

    .grid-container2 {
        padding: 0;
    }

    .third-p {
        padding: 15px;
        font-size: 0.875rem;
    }

    .grid-container3 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .flex {
        width: 70vw;
        height: 50vw;
    }

    .grid-container4 {
        padding: 15px;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }

    .backg-pic1 {
        width: 140%;
    }

    .backg-pic2-left {
        bottom: -140%;
    }

    .backg-pic3 {
        left: -20%;
        width: 65%;
        top: -38%;
    }

    .backg-img {
        margin-right: 10%;
        width: 95%;
        height: 100%;
    }

    .grid-container5 {
        padding: 15px;
        grid-template-rows: repeat (2, auto);
        grid-template-columns: auto;
        grid-template-areas: "grid-item7""grid-item6";
    }

    .third-img {
        margin: 20% auto;
    }

    .grid-container6 {
        display: none;
    }

    .ball-pic {
        left: 60%;
        top: 50%;
    }

    .ball-pic3 {
        bottom: -80%;
    }

    .grid-container6-1 {
        position: relative;
        display: block;
        grid-area: grid-container6-1;
        padding: 10px;
    }

    .grid-item8-1 {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(14, auto);
    }

    .ball-pic1 {
        left: -35%;
    }

    .ball-pic2 {
        right: -33%;
    }

    .grid-container {
        grid-template-columns: repeat(2, 50%);
    }

    .grid {
        margin-top: 1%;
    }

    .faq-singular .faq-question:before {
        left: 0%;
    }
    .table{
        padding: 15px;
    }
}

@media screen and (max-width: 420px) {
   
    .waveWrapper {
        height: 755px;
    }

    .grid-container2 {
        margin-top: 25%;
    }
    .table{
        padding: 0px;
    }
}

@media screen and (min-width:400px) and (max-width: 600px) {

    p,
    li {
        text-align: justify;
        font-size: 0.875rem;
    }

    .pen {
        margin-bottom: 13%;
    }

    .main-div {
        grid-template-rows: 700px repeat(6, auto);
    }

    .svg1 {
        left: 40%;
        top: 12%;
    }

    .svg5 {
        top: 8%;
        left: -36%;
    }

    .ball-pic3 {
        right: 45%;
        bottom: -13%;
    }
    .table{
        padding: 0;
    }
}

@media screen and (min-width: 600px) and (max-width: 800px) {
    .waveWrapper {
        height: 925px;
    }

    .waveWrapperInner {
        bottom: -8%;
    }
}

@media screen and (min-width: 800px) and (max-width: 1120px) {
    .waveWrapper {
        height: 1150px;
    }

    .waveWrapperInner {
        bottom: -5%;
    }

    p,
    li {
        text-align: justify;
        font-size: 0.875rem;
    }

    .main-div {
        grid-template-rows: 1025px repeat(6, auto) !important;
    }
}

@media screen and (min-width: 3480px) {
    .waveWrapper {
        height: 1450px;
    }

    .waveWrapperInner {
        bottom: -5%;
    }

    p,
    li {
        font-size: 1.5rem;
        text-align: justify;
    }

    h2 {
        font-size: 3rem;
    }

    .grid-container2 {
        margin-top: 15%;
    }

    .first-h1 {
        font-size: 6rem;
    }

    .first-p {
        font-size: 1.5rem;
    }

    .third-p {
        font-size: 1.5rem;
    }

    .flex {
        width: 20vw;
        height: 15vw;
    }

    .flex:hover {
        height: 550px;
    }

    .flex-heading {
        font-size: 2.5rem;
    }

    .flex-div1 {
        width: 130px;
        height: 130px;
    }

    .flex-icon {
        width: 90%;
        height: 50%;
    }

    .specifications {
        font-size: 2.5rem;
    }

    .table {
        font-size: 1.5rem;
    }

    .faq-h {
        font-size: 3rem;
    }

    .faq-p {
        font-size: 1.5rem;
    }

    .faq-singular .faq-question {
        font-size: 2rem;
    }

    .faq-singular .faq-question:before {
        font-size: 2rem;
    }

    .faq-singular.active .faq-question:before {
        transform: translateY(-50%) rotate(45deg) scale(2);
    }

    .backg-pic2-left {
        left: -10%;
        bottom: -145%;
    }
}

@media screen and (min-width: 5660px) {

    p,
    li {
        font-size: 2.5rem;
        text-align: justify;
    }

    h2 {
        font-size: 4rem;
    }

    .first-h1 {
        font-size: 8rem;
    }

    .first-p {
        font-size: 2.5rem;
    }

    .third-p {
        direction: rtl;
        font-size: 2.5rem;
    }

    .flex {
        width: 20vw;
        height: 15vw;
    }

    .flex:hover {
        height: 550px;
    }

    .flex-heading {
        font-size: 3.5rem;
    }

    .flex-div1 {
        width: 130px;
        height: 130px;
    }

    .flex-icon {
        width: 90%;
        height: 50%;
    }

    .specifications {
        font-size: 3.5rem;
    }

    .table {
        font-size: 2.5rem;
    }

    .faq-h {
        font-size: 4rem;
    }

    .faq-p {
        font-size: 2.5rem;
    }

    .faq-singular .faq-question {
        font-size: 3rem;
    }

    .faq-singular .faq-question:before {
        font-size: 3rem;
    }
}
     .first-button-landing-mother{
         display: grid;
         grid-template-columns: auto auto;
         grid-gap: 10%;
}
.button-landing1 {
    background-color: #61ce70;
    width: 100%;
    height: 30px;
    border-radius: 15px;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    color: white;
}
.button-landing2 {
    background-color: #61ce70;
    width: 100%;
    height: 30px;
    border-radius: 15px;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    color: white;
}


.button-landing1:hover {
    transform: scale(1.1, 1.1);

}
.button-landing2:hover {
    transform: scale(1.1, 1.1);

}



h1 {
    text-align: center;
    margin: 2rem 0;
    font-size: 2.5rem;
  }
  
  .accordion {
    z-index: 1000;
    width: 90%;
    max-width: 1000px;
    margin: 2rem auto;
  }
  .accordion-item {
    background-color: #fff;
    color: #111;
    margin: 1rem 0;
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
  }
  .accordion-item-header {
    padding: 0.5rem 3rem 0.5rem 1rem;
    min-height: 3.5rem;
    line-height: 1.25rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
  }
  .accordion-item-header::after {
    content: "\002B";
    font-size: 2rem;
    position: absolute;
    right: 1rem;
  }
  .accordion-item-header.active::after {
    content: "\2212";
  }
  .accordion-item-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  .accordion-item-body-content {
    padding: 1rem;
    line-height: 1.5rem;
    border-top: 1px solid;
    border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
  }
  
  @media(max-width:767px) {
    html {
      font-size: 14px;
    }
  }



/* header & footer style */

.custom-shape-divider-top-1634464976 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1634464976 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 103px;
}

.custom-shape-divider-top-1634464976 .shape-fill {
    fill: #FFFFFF;
}



/* 
- Name: megamenu.js - style.css
- Version: 1.0
- Latest update: 11.25.2019
- Author: Roman Serebryakov
- Author web site: http://roman-designs.com
*/

body {
    font-family: 'Source Sans Pro', sans-serif;
}

* {
    box-sizing: border-box;
}

* img {
    max-width: 100%;
    height: auto;
}

a {
    color: #333;
}

.description {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}


/* ––––––––––––––––––––––––––––––––––––––––––––––––––
megamenu.js STYLE STARTS HERE
–––––––––––––––––––––––––––––––––––––––––––––––––– */


/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Screen style's
–––––––––––––––––––––––––––––––––––––––––––––––––– */



.menu-container {
    width: 80%;
    margin: 0 auto;
    background: #e9e9e9;
    position:relative; 
    z-index: 100;
}

.menu-mobile {
    display: none;
    padding: 20px;
}

.menu-mobile:after {
    content: "\f394";
    font-family: "Ionicons";
    font-size: 2.5rem;
    padding: 0;
    float: right;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-25%);
    -ms-transform: translateY(-25%);
    transform: translateY(-25%);
}

.menu-dropdown-icon:before {
    content: "\f489";
    font-family: "Ionicons";
    display: none;
    cursor: pointer;
    float: right;
    padding: 1.5em 2em;
    background: #fff;
    color: #333;
}

.menu ul {
    list-style: none;
    padding:0;
}

.menu > ul {
    margin: 0 auto;
    width: 100%;
    position: relative;
    /* IF .menu position=relative -> ul = container width, ELSE ul = 100% width */
    box-sizing: border-box;
}

.menu > ul:before,
.menu > ul:after {
    content: "";
    display: table;
}

.menu > ul:after {
    clear: both;
}

.menu > ul > li {
    float: left;
    background: #e9e9e9;
    padding: 0;
    margin: 0;
}

.menu > ul > li > ul > li a {
    text-decoration: none;
    padding: 0.7em 0;
    display: block;
}

.menu > ul > li > a {
    text-decoration: none;
    padding: 1.5em 3em;
    display: block;
}

.menu > ul > ul > li a {
    padding: 0.7em 3em;
}

.menu > ul > li:hover {
    background: #f0f0f0;
}

.menu > ul > li > .mega-menu {
    display: none;
    width: 100%;
    background: #354445;
    padding: 20px;
    position: absolute;
    z-index: 99;
    left: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

.menu > ul li ul li a {
    color: white;
}

.menu > ul > li > ul {
    display: none;
    width: 300px;
    background: #354445;
    padding: 10px 20px;
    position: absolute;
    z-index: 99;
    left: auto;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

.menu > ul > li > .mega-menu:before,
.menu > ul > li > .mega-menu:after,
.menu > ul > li > ul:before,
.menu > ul > li > ul:after
{
    content: "";
    display: table;
}

.menu > ul > li > .mega-menu:after, .menu > ul > li > ul:after {
    clear: both;
}

.menu > ul > li > .mega-menu li {
    margin: 0;
    padding-bottom: 0;
    list-style: none;
    width: 25%;
    background: none;
    float: left;
}

.menu > ul > li > .mega-menu li a {
    padding: .2em 0;
    width: 95%;
    display: block;
    border-bottom: 1px solid #ccc;
    font-size: 0.8rem;
    text-transform: uppercase;
}


.menu > ul > li > .mega-menu li > ul {
    display: block;
    padding: 0;
    margin: 10px 0 0;
    list-style: none;
    box-sizing: border-box;
}

.menu > ul > li > .mega-menu li > ul:before,
.menu > ul > li > .mega-menu li > ul:after {
    content: "";
    display: table;
}

.menu > ul > li > .mega-menu li > ul:after {
    clear: both;
}

.menu > ul > li > .mega-menu li > ul > li {
    float: left;
    width: 100%;
    padding: 10px 0;
    margin: 0;
    font-size: .8em;
}

.menu > ul > li > .mega-menu li > ul > li a {
    border: 0;
    text-transform: none;
    font-size: 1rem;
}

.menu > ul > li > .mega-menu.normal-sub {
    width: 300px;
    left: auto;
    padding: 10px 20px;
}

.menu > ul > li > .mega-menu.normal-sub > li {
    width: 100%;
}

.menu > ul > li > .mega-menu.normal-sub > li a {
    border: 0;
    padding: 1em 0;
}


/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Mobile style's
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media only screen and (max-width: 959px) {
    .menu-container {
        width: 100%;
    }
    .menu-mobile {
        display: block;
    }
    .menu-dropdown-icon:before {
        display: block;
    }
    .menu > ul {
        display: none;
    }
    .menu > ul > li {
        width: 100%;
        float: none;
        display: block;
    }
    .menu > ul > li a {
        padding: 1.5em;
        width: 100%;
        display: block;
    }
    .menu > ul > li > .mega-menu, .menu > ul > li > ul {
        position: relative;
    }
    .menu > ul > li > .mega-menu.normal-sub, .menu > ul > li > ul {
        width: 100%;
    }
    .menu > ul > li > .mega-menu li {
        float: none;
        width: 100%;
        margin-top: 20px;
    }
    .menu > ul > li > .mega-menu li:first-child {
        margin: 0;
    }
    .menu > ul > li > .mega-menu li > ul {
        position: relative;
    }
    .menu > ul > li > .mega-menu li > ul > li {
        float: none;
    }
    .menu .show-on-mobile {
        display: block;
    }
}







body {
    padding: 0;
    margin: 0;
}


.footer{
    
    width: 100%;
    height: auto;
    background-color: #61CE70;
    
    

}
.container-footer{
    width: 85%;
    margin: 10px auto;
}
.sec1footer{
    display: grid;

}
.sec1footer{

    display: grid;
    grid-template-columns: 10% 80% 10%;

    
}
.sec2footer{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 5%;
    margin: 20px 0;
    color: white;

}
.footer-ul li{
    list-style-type: none;
    color: white;
    margin: 10px auto 0 auto;
    float: right;
    list-style-type: none;
    color: white !important;
    padding: 20;


}
.footer-ul li a{
	color: white !important;
}
.footer-li{
    float: right;
    list-style-type: none;
    color: white;
    padding: 20;
    
}
.li-a {
    display: block;
    text-decoration: none;
    color: white;
}
.logo-img{
    display: block;
    margin: 10px auto 0 auto;
}
.mother-nemad{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 2%;

}
.nemad-footer1{
    width: 100px;
    height: 130px;
    background-color: white;
    border-radius: 30px;

}
.nemad-footer2{
    width: 100px;
    height: 130px;
    background-color: white;
    border-radius: 30px;

}
.nemad-footer3{
    width: 100px;
    height: 130px;
    background-color: white;
    border-radius: 30px;

}
.social-mother{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    width: 60%;
    grid-gap: 2%;
}
.down-the-footer{
    display: block;
    text-align: center;
    margin: 0;
    color: white;
	padding: 1rem;
    border-top: 1px solid;
}
.footer-hr{
    margin-top: -15;
    opacity: 0.4;
}
.social{
    width: 100%;
    height: 40px;
	object-fit: contain;
}
.eshterak-footer{
    width: 40%;
    height: 150px;
    background-color: #61CE70;
    border-radius: 25px;
    display: block;
    margin: 0 auto;
    color: white;
}
.civ{
    height: 1000px;
    
}

.scroll-up{
    width: 60;
    height: 60;
    background-color: #F9D47A;
    border-radius: 15px;
    color: white;
    float: right;
    display: block;
    margin: 40px 30px 0 0 ;
   
}
.ersall-be-bala{
    text-align: center;
    font-size: 11px;
    display: block;
}
.charesetab{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8px;
}
.eshterak-footer-p{
    padding: 35px 0px 9px 25px;
    text-align: right;
    
}
.eshterac-number{
	
    width: 100%;
    height: 30px;
    display: inline-block;
    margin: 0 auto;
    text-align: right;
    outline: none;
    border-radius: 0 10px 10px 0 !important;
    border:none;
    
}

.eshterac-number:focus-visible{
    border: 1px solid #F9D47A;
}



.eshterac-number-button{
    background-color: #F9D47A !important;
    width: 100%;
    display: inline-block;
    border: none;
    color: white;
    border-radius: 10px 0 0 10px !important;
}
.form-footer{
     width: 85%;
     display: grid;
     margin: 0 auto;
     grid-template-columns: 80% 20%;

}
.eshterack-text{
    display: block;
    margin: 0 auto;
    width: 85%;
    text-align: right;
    
}

.header-footer-hr{
	color: white;
}






/* containers */
.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container-sm, .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container-md, .container-sm, .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container-lg, .container-md, .container-sm, .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 840px;
  }
}
@media (min-width: 1400px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1020px;
  }
}